{% extends 'base.html.twig' %}


{% block titre %}
{{ titre }} | {{ parent() }}
{% endblock %}


{% block main %}
<h1>{{ titre }}</h1>
<p>

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!



    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, nostrum!

</p>

{% endblock %}